.login-panel {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 320px;
  margin: auto;
}

.login-panel > .panel-body {
  text-align: center;
}

.login-panel > .panel-body > form > input {
  margin: 5px 0;
}

.login-btn {
  width: 35%;
}

.login-btn-green {
  background-color: #449d44;
  border-color: #398439;
  color: white;
}