<!DOCTYPE html>
<html>
<head>
  <title>Личный кабинет</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="../../bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../../bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
  <link rel="stylesheet" type="text/css" href="../css/cabinet.css">

</head>
<body>
  <nav class="navbar navbar-default navbar-static-top">
    <div class="container">
      <p class="navbar-text page-title">Личный кабинет</p>
      <button type="button" class="btn btn-default navbar-btn logout-btn">Выйти</button>
    </div>
  </nav>

  <div class="container">
    <div class="basic-actions panel panel-default">
      <div class="panel-body">
        <a href="add-item.html" class="btn btn-default">Добавить заявку</a>
        <a class="btn btn-default">Новый запрос</a>
        <a href="add-event.html" class="btn btn-default">Мероприятия</a>
      </div>
    </div>

    <div class="alert alert-info should-call-alert" role="alert">
      В ближайшие 2 дня выполнить <span class="should-call-amount">-6.2</span> звонков
      <button class="btn btn-primary check-phone-numbers">Посмотреть</button>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">План действий на сегодня</h3>
      </div>
      <div class="panel-body">
        lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et 
      </div>
    </div>
  </div>
</body>
</html>